.chat-container {
    height: 90vh;
    /* background-color: orange; */
}

main 
{
    background-color: rgba(var(--bs-light-rgb));
}

body 
{
    background-color: rgba(var(--bs-light-rgb));
}

.icon-hover:hover
{
    cursor: pointer;
}

.message{
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.message-from {
    background-color: rgb(214, 212, 212);
}

.message-my {
    background-color: rgb(179, 178, 178);
}